<!DOCTYPE HTML>
<html>

<head>
    <title>Instances handler</title>
</head>

<body>

Name: {{ group.name }}<br/>
Statuses: {{ group.statuses }}<br/>
<a href='/group/{{group.name}}/stop'>parar</a><br/>
<input type='button' value='Refresh' onclick='window.location.reload()'/><br/>
<a href='/'>voltar</a><br/>

Results: {% for result in results %}{{result}},{% end %}

    <form method='post' action='/group/{{group.name}}/create_job' class='area'>
        <div class='label'>Create job</div>
        <div class='explanation'>
            <p>To run a job with this instance group you must specialize it.
            <p>Right now the only specialty is counting words, so all you can do right now is point to a S3 bucket containing the text files.
        </div>
        <div><label for='bucket'>bucket</label><input type='text' name='bucket' value='word_count'/></div>
        <input type='submit' value='Start'/>
    </form>


</body>

</html>