<!DOCTYPE HTML>
<html>

<head>
    <title>Instances starter</title>
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js'></script>
</head>

<body>

{% if not signed_in %}
Connect

<form method='post' action='signin'>
<div><label for='access'>access</label><input type='text' name='access' value=''/></div>
<div><label for='secret'>secret</label><input type='text' name='secret' value=''/></div>
<input type='submit'/>
</form>

<hr/>
{% end %}

{% if signed_in %}
<span>Connected</span>
<a href='signout'>Disconnect</a>

<hr/>

Groups

<ul>
{% for group in groups %}
<li>
    <span>{{ group.name }}</span>
    <a href='group/delete/{{ group.name }}'>delete</a>
</li>
{% end %}
</ul>

<hr/>

Create group

<form method='post' action='group/start'>
<div><label for='group'>group</label><input type='text' name='group' value='first'/></div>
<div><label for='ami'>ami</label><input type='text' name='ami' value='ami-8e1fece7'/></div>
<div><label for='how_many'>how_many</label><input type='text' name='how_many' value='3'/></div>
<input type='submit'/>
</form>

{% end %}

</body>

</html>